<div class="section">
  <h1>About...</h1>
  <p class="text-xl">
    This <code>sandbox</code> application was designed as a <abbr title="Proof of Concept">POC</abbr> project to provide a in-browser image editor.
  </p>
  <p class="flex flex-wrap items-center gap-2">
    <span>If you find this app useful, please consider </span>
    <hallpass-shared-buy-us-a-coffee color="accent" [imageSize]="32" action="buying us a coffee."></hallpass-shared-buy-us-a-coffee>
    <span>Any contribution will help us build more apps for all to use.</span>
  </p>

  <h3 class="mt-8">About Hallpass</h3>
  <hallpass-shared-about-hallpass></hallpass-shared-about-hallpass>
</div>