<p class="text-regular">  
  <a href="https://client.hallpassandfriends.com/" target="hallpass" class="link-primary font-semibold">Hallpass and Friends</a>
  is a creative web studio building applications for smart organizations. 
  We specialize in working with small and medium-sized businesses, non-profits, and educational institutions 
  to build multifaceted solutions that include technical, human and organizational components.
</p>
<p>
  Please explore our <strong>Client Portal</strong> to learn more ...
</p>
<ul>
  <li><a href="https://client.hallpassandfriends.com/about/process" target="hallpass" class="link-accent">Learn About our Process</a></li>
  <li><a href="https://client.hallpassandfriends.com/case-study" target="hallpass" class="link-accent">Read our Case Studies</a></li>
  <li><a href="https://client.hallpassandfriends.com/services" target="hallpass" class="link-accent">Explore our Services</a></li>
</ul>
